--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
faiss-cpu 
sentence-transformers 
pypdf 
python-docx 
tqdm
numpy
openpyxl
python-pptx
Pillow
pytesseract
onnxruntime
optimum
fastapi
python-multipart
requests
uvicorn
pydantic-settings
pydantic
sentence-transformers[onnx] 
llama-cpp-python
huggingface_hub
